.git
.github
.idea
.cursor
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
compose.yaml
production-compose.yaml
Dockerfile
README.md
